<div class="section">
  <h2>Article III - Existence d'un droit d'opposition, d'accès, de rectification, d'effacement et de limitation à l'égard des données vous concernant</h2>

  <p>
    En application de la Loi n. 1.565 du 3 décembre 2024 relatives à la protection des données personnelles, vous disposez d'un droit d'accès, d'opposition, de rectification, d'effacement, de limitation relativement aux données personnelles vous concernant.
  </p>

  <p>
    Pour l'exercice de ces droits, nous vous invitons à vous adresser par lettre à [adresse de contact renseigné dans le questionnaire] ou par courriel à [adresse de contact renseigné dans le questionnaire].
  </p>

  <p>
    Vous avez le droit d'introduire une réclamation à à l'Autorité de Protection des Données Personnelles (APDP) aux coordonnées suivantes:
  </p>
  <p>
    Le Concorde, 11 rue du Gabian 98000 - Monaco<br />
    Tel : (+377).97.70.22.44<br />
    Courriel : apdp@apdp.mc
  </p>
</div>
