<div class="section">
  <h3>B) Gestion de la messagerie électronique professionnelle</h3>

  <h4>1) Description de la finalité, des fonctionnalités et de la justification du traitement</h4>

  <table>
      <thead>
          <tr>
              <th>Activité de traitement</th>
              <th>Finalités</th>
              <th>Bases légales envisageables</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td rowspan="7">La gestion de la messagerie d'entreprise</td>
              <td>l'échange de messages électroniques en interne ou avec l'extérieur</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>l'historisation des messages électroniques entrants et sortants</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>la gestion des contacts de la messagerie électronique</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>la gestion des dossiers de la messagerie et des messages archivés</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>l'établissement et la lecture de fichiers journaux.</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>la gestion des habilitations d'accès à la messagerie et des profils utilisateurs.</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>la gestion de l'agenda</td>
              <td>Intérêt légitime</td>
          </tr>
          <tr>
              <td>l'établissement de preuves en cas de litige avec un client/employé</td>
              <td>Intérêt légitime</td>
          </tr>
      </tbody>
  </table>

  <h4>2) Données traitées</h4>

  <p>Aux fins ci-dessus, <%= account.display_name %> peut recueillir et traiter les données personnelles suivantes : l'identité ; les messages ; la gestion des contacts ; les données temporelles ; les données d'identification électronique ; la journalisation des accès ; les fichiers journaux ; les habilitations.</p>

  <h4>3) Identité des destinataires ou des catégories de destinataires des données</h4>

  <p>Les personnes pouvant avoir accès au traitement des données personnelles dont la finalité est la gestion de la messagerie d'entreprise sont :</p>
  <ul>
      <li>L'émetteur et le destinataire du mail ;</li>
      <li>Le personnel habilité de <%= account.display_name %>.</li>
  </ul>

  <p>Les personnes pouvant recevoir communication des données personnelles sont les Autorités Judiciaires et Administratives dans le cadre exclusif des missions légalement conférées. Dans ce cas, des mesures particulières de sécurité devront être prises, concernant notamment le support sur lequel ces données seront transmises.</p>

  <h4>4) Durée de conservation</h4>

  <p>Ces données sont conservées différemment en fonction de leur nature :</p>

  <ul>
      <li>S'agissant de l'administration de la messagerie électronique (identité, gestion des contacts, données d'identification électronique) : 3 mois maximum après votre départ de l'entreprise ;</li>
      <li>S'agissant du contenu des messages émis et reçus : entre 2 et 3 ans maximum dans la boîte active de l'utilisateur puis si besoin en archivage ;</li>
      <li>S'agissant des données de connexion (logs, horodatage, fichiers journaux...) : 1 an maximum</li>
  </ul>
</div>
