<div class="company-info">
  <h1>Politique de confidentialité à l'attention des salariés</h1>
  <p><strong><%= account.display_name %></strong></p>
  <p><%= account.legal_form_full_name %></p>
</div>

<div class="legal-reference">
  <p>
    En application de l'article 11 de la Loi n° 1.565 du 3 décembre 2024 relative à la protection des données personnelles, nous vous informons par la présente des conditions de traitement des données personnelles vous concernant.
  </p>
</div>
