<div class="section">
  <h3>A. Gestion administrative des ressources humaines</h3>

  <h4>1) Description de la finalité, des fonctionnalités et de la justification du traitement</h4>

  <table>
        <thead>
            <tr>
                <th>Activité de traitement</th>
                <th>Finalités</th>
                <th>Bases légales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="8">Gestion administrative du personnel</td>
                <td>Gestion de la procédure d'embauche, des renouvellements et des fins de contrat, tel que prévu par la législation monégasque</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Suivi administratif des visites médicales obligatoires des salariés</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion des déclarations d'accident du travail et de maladie professionnelle</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion et au suivi des congés et des absences du personnel</td>
                <td>Intérêt légitime</td>
            </tr>
            <tr>
                <td>Etablissement de listes de salariés permettant de répondre à des besoins de gestion administrative ou à des obligations de nature légale ou réglementaire</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion des allocations individuelles de fournitures, d'équipements, de véhicules et de cartes de paiement</td>
                <td>Intérêt légitime</td>
            </tr>
            <tr>
                <td>Déclarations à effectuer auprès des différents organismes administratifs et sociaux et autres opérations légales ou conventionnelles s'y rattachant</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Réalisation de tous traitements statistiques non nominatifs liés à l'activité salariée dans l'entreprise</td>
                <td>Intérêt légitime</td>
            </tr>
            <tr>
                <td rowspan="5">Gestion des rémunérations et accomplissement des formalités administratives</td>
                <td>Gestion des données tenant au calcul et au paiement des rémunérations et accessoires et des frais professionnels ainsi que le calcul des retenues opérées conformément aux dispositions légales et conventionnelles en vigueur</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion des données tenant à la fourniture des écritures de paie à la comptabilité</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion des données et à la réalisation des états relatifs à la situation du personnel permettant de satisfaire à des obligations légales telles que la tenue du registre des entrées et sorties du personnel et du livre de paie</td>
                <td>Obligation légale</td>
            </tr>
            <tr>
                <td>Gestion des données relatives à la tenue des comptes individuels en lien avec l'intéressement des travailleurs à l'entreprise</td>
                <td>Obligation légale et intérêt légitime</td>
            </tr>
            <tr>
                <td>Gestion des éléments de rémunération concernant les avantages en nature et les titres restaurant</td>
                <td>Exécution du contrat</td>
            </tr>
            <tr>
                <td rowspan="2">Suivi des carrières et de la mobilité</td>
                <td>Gestion des compétences et des évaluations professionnelles du salarié : gestion des entretiens d'évaluation et des appréciations des aptitudes professionnelles sur la base de critères objectifs et présentant un lien direct et nécessaire avec l'emploi occupé, la saisie des observations et souhaits formulés par le salarié</td>
                <td>Intérêt légitime</td>
            </tr>
            <tr>
                <td>L'établissement et la mise à jour de la fiche administrative du salarié et de sa fiche de poste : situation professionnelle, historique de carrière au sein de la société, compétences et diplômes</td>
                <td>Intérêt légitime</td>
            </tr>
            <tr>
                <td>Formation</td>
                <td>suivi des demandes de formation et des périodes de formation effectuées, organisation des sessions de formation</td>
                <td>Intérêt légitime</td>
            </tr>
        </tbody>
    </table>

    <h4>2) Données personnelles traitées</h4>

    <p>
      Aux fins ci-dessus, nous pouvons recueillir et traiter les données personnelles suivantes : votre identité ; l'identité de votre éventuel conjoint ; l'identité de vos enfants à charge ; vos adresses et coordonnées ; votre situation de famille ; vos informations professionnelles ; vos documents d'identité ;l'identité et les coordonnées des personnes à prévenir en cas d'urgence le cas échéant ; vos coordonnées bancaires ; vos numéros d'assuré social, de retraite et de prévoyance ; vos distinctions honorifiques le cas échéant ; les informations liées à votre contrat de travail ; les informations liées à votre carrière ; les informations liées aux déclarations d'accident du travail et aux maladies professionnelles ; les informations relatives aux évaluations professionnelles ; les informations relatives à la formation ; les informations permettant le suivi administratif des visites médicales ; les informations relatives au permis de conduire du salarié, si sa fonction le justifie ; les informations relative aux congés ; les informations particulières relatives aux salariés disposant d'un mandat.
    </p>

    <h4>3) Identité des destinataires ou des catégories de destinataires des données</h4>

    <p>
      Les personnes pouvant avoir accès aux données sont : le dirigeant pour les données nécessaires à l'exécution de ses missions et obligations légales ou réglementaires et, le cas échéant de celles découlant des accords ou conventions collectives en vigueur ; les personnes chargées de la gestion du personnel ; les supérieurs hiérarchiques des salariés concernés, pour les données nécessaires à l'exécution de leurs missions; les personnels techniques en charge du système d'information, dans le cadre exclusif de leurs fonctions liées au fonctionnement et à la sécurité du système ;  les services ou organismes chargés de l'administration, de la comptabilité et de la paie du personnel ainsi que leurs supérieurs hiérarchiques ; les services chargés du contrôle financier dans l'entreprise ;
    </p>

    <p>
      Les personnes pouvant être destinataires des données sont : la Direction du Travail, notamment au titre de la législation relative aux conditions d'embauchage en Principauté et au respect des règles applicables en matière de droit du travail ; l'Office de la Médecine du Travail, particulièrement au titre des obligations de visites médicales obligatoires pour tout salarié ; la Direction de la Sûreté Publique uniquement en ce qui concerne les données liées aux déclarations d'accident du travail ; les organismes d'assurances ; les organismes de formation professionnelle pour les seules données nécessaires à l'organisation de telles formations ; les services ou organismes gérant les différents systèmes d'assurances sociales, d'assurances chômage, de retraite et de prévoyance, les caisses de congés payés, les organismes publics et administrations légalement ou réglementairement habilités à les recevoir.
    </p>

    <h4>4) Durée de conservation</h4>

    <p>
      Les données collectées dans le cadre de ce traitement, sauf cas particuliers des catégories de données détaillées ci-dessous, ne sont pas conservées au-delà de votre période d'emploi. Les données relatives aux sujétions particulières ouvrant droits à congés spéciaux ou à un crédit d'heures de délégation ne sont pas conservées au-delà de votre période de sujétion.
    </p>

    <p>
      Au-delà, ces données collectées sont susceptibles d'être archivées sur un support informatique distinct et à accès très limité, conformément aux règles applicables en matière d'archivage.
    </p>

    <p>Toutefois, nous vous précisons que conformément au droit applicable :</p>

    <ul>
      <li>
        les données afférentes à votre identité et compte utilisateur sont conservées trois mois après votre départ ;
      </li>
      <li>
        les données relatives aux données d'identification électroniques sont conservées pour le temps de la relation contractuelle du salarié ou de son affectation dans le service et sont supprimées lors de la cessation de ladite relation contractuelle ou dès le changement de service ;
      </li>
      <li>
        les données concernant un salarié impliqué dans un contentieux sont conservées cinq ans après la fin de la procédure.
      </li>
      <li>
        la durée de conservation du bulletin de paie est celle prévue par la loi en vigueur, soit à ce jour cinq années.
      </li>
      <li>
        les données relatives aux motifs des absences ne sont pas conservées au-delà du temps nécessaire à l'établissement des bulletins de paie.
      </li>
      <li>
        Celles nécessaires à l'établissement des droits à la retraite peuvent être conservées cinq ans après l'extinction des droits ouverts à la personne concernée ou à ses ayants droits.
      </li>
    </ul>
</div>
