<div class="section">
  <h2>Article II - Traitements concernés</h2>

  <p>
    <%= account.name %> met en œuvre les traitements des données personnelles
    vous concernant pour les finalités suivantes :
  </p>
</div>
