<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif;">
  <h1>Sign in to Rails SaaS Starter</h1>
  <p>Hi <%= @user.name %>,</p>
  <p>Click the link below to sign in. This link expires in 15 minutes.</p>
  <p><a href="<%= @verification_url %>">Sign In</a></p>
  <p>Or copy this URL: <%= @verification_url %></p>
</body>
</html>
